$root-ft-size: 10px;

$color-white: #fff;
$color-gray: #ddd;
$color-red: #f00;
$color-black: #000;
$color-login-bg: #2d3a4b;
$color-header-bg: #3c8dbc;
$color-aside-bg: #222d32;
$color-breadcrumb-bg: #ecf0f5;
$color-success: #67c23a;
